In [1]:
import pandas as pd

In [2]:
cancer_path = "Resources/total-cancer-deaths-by-type.csv"
econ_path = "Resources/WorldSustainabilityDataset.csv"

# Upload Raw Kaggle Data
cancer_df = pd.read_csv(cancer_path)
econ_df = pd.read_csv(econ_path)

In [3]:
cancer_df.head()

,Entity,Code,Year,Deaths - Liver cancer - Sex: Both - Age: All Ages (Number),Deaths - Kidney cancer - Sex: Both - Age: All Ages (Number),Deaths - Lip and oral cavity cancer - Sex: Both - Age: All Ages (Number),"Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)",Deaths - Larynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Gallbladder and biliary tract cancer - Sex: Both - Age: All Ages (Number),Deaths - Malignant skin melanoma - Sex: Both - Age: All Ages (Number),...,Deaths - Brain and central nervous system cancer - Sex: Both - Age: All Ages (Number),Deaths - Non-Hodgkin lymphoma - Sex: Both - Age: All Ages (Number),Deaths - Pancreatic cancer - Sex: Both - Age: All Ages (Number),Deaths - Esophageal cancer - Sex: Both - Age: All Ages (Number),Deaths - Testicular cancer - Sex: Both - Age: All Ages (Number),Deaths - Nasopharynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Other pharynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Colon and rectum cancer - Sex: Both - Age: All Ages (Number),Deaths - Non-melanoma skin cancer - Sex: Both - Age: All Ages (Number),Deaths - Mesothelioma - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,851,66,89,983,260,180,47,...,422,996,138,529,3,66,37,539,25,6
1,Afghanistan,AFG,1991,866,66,89,982,263,182,48,...,438,1010,137,535,4,67,37,542,26,7
2,Afghanistan,AFG,1992,890,68,91,989,268,185,51,...,472,1040,137,546,4,69,38,550,26,7
3,Afghanistan,AFG,1993,914,70,93,995,275,189,53,...,505,1062,139,560,5,72,39,555,27,7
4,Afghanistan,AFG,1994,933,71,94,996,282,193,54,...,526,1069,140,575,5,73,39,554,28,8

In [4]:
econ_df.head()

,Country Name,Country Code,Year,Access to electricity (% of population) - EG.ELC.ACCS.ZS,Adjusted net national income per capita (annual % growth) - NY.ADJ.NNTY.PC.KD.ZG,"Adjusted net savings, excluding particulate emission damage (% of GNI) - NY.ADJ.SVNX.GN.ZS",Adjusted savings: carbon dioxide damage (% of GNI) - NY.ADJ.DCO2.GN.ZS,Adjusted savings: natural resources depletion (% of GNI) - NY.ADJ.DRES.GN.ZS,Adjusted savings: net forest depletion (% of GNI) - NY.ADJ.DFOR.GN.ZS,Adjusted savings: particulate emission damage (% of GNI) - NY.ADJ.DPEM.GN.ZS,...,Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS,"Life expectancy at birth, total (years) - SP.DYN.LE00.IN","Population, total - SP.POP.TOTL",Regime Type (RoW Measure Definition),Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
0,Aruba,ABW,2000,91.660398,NaN,15.392211,2.389134,0.000190,0.000190,NaN,...,NaN,High income,NaN,NaN,NaN,NaN,53.283,NaN,NaN,Latin America and Caribbean
1,Aruba,ABW,2001,100.000000,NaN,11.491930,2.509046,0.000214,0.000214,NaN,...,NaN,High income,17.1,73.853,92892.0,NaN,53.661,0.000712,46.339,Latin America and Caribbean
2,Aruba,ABW,2002,100.000000,NaN,3.893620,2.721385,0.000223,0.000223,NaN,...,NaN,High income,18.8,73.937,94992.0,NaN,54.028,0.000657,45.972,Latin America and Caribbean
3,Aruba,ABW,2003,100.000000,NaN,6.713863,2.733676,0.000243,0.000243,NaN,...,NaN,High income,20.8,74.038,97016.0,NaN,54.394,0.000700,45.606,Latin America and Caribbean
4,Aruba,ABW,2004,100.000000,NaN,9.801576,2.678363,0.000256,0.000256,NaN,...,NaN,High income,23.0,74.156,98744.0,NaN,54.760,0.000685,45.240,Latin America and Caribbean

In [5]:
#  Create list of countries from each dataset
cancer_list= cancer_df["Entity"].unique()
econ_list = econ_df["Country Name"].unique()

In [6]:
# Count like countries
country_count = []

for x in cancer_list:
    if x in econ_list:
        country_count.append(x)
        
print(len(country_count))

149

In [7]:
# Print list of similar countries
country_count

['Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Denmark',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vietnam',
 'Zambia',
 'Zimbabwe']

In [9]:
# Merge Dataframes on country and year "inner" into new cancer_merge_df

cancer_merge_df = pd.merge(cancer_df, econ_df, how="inner", left_on=["Entity","Year"], right_on=["Country Name","Year"], copy=False)

In [10]:
cancer_merge_df

,Entity,Code,Year,Deaths - Liver cancer - Sex: Both - Age: All Ages (Number),Deaths - Kidney cancer - Sex: Both - Age: All Ages (Number),Deaths - Lip and oral cavity cancer - Sex: Both - Age: All Ages (Number),"Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)",Deaths - Larynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Gallbladder and biliary tract cancer - Sex: Both - Age: All Ages (Number),Deaths - Malignant skin melanoma - Sex: Both - Age: All Ages (Number),...,Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS,"Life expectancy at birth, total (years) - SP.DYN.LE00.IN","Population, total - SP.POP.TOTL",Regime Type (RoW Measure Definition),Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
0,Albania,ALB,2000,316,40,31,748,70,26,23,...,NaN,Lower-middle income,NaN,NaN,NaN,Electoral Autocracy,58.259,NaN,NaN,Europe and Northern America
1,Albania,ALB,2001,301,42,31,734,68,26,21,...,NaN,Lower-middle income,0.325798,74.288,3060173.0,Electoral Autocracy,57.565,0.755950,42.435,Europe and Northern America
2,Albania,ALB,2002,295,47,34,765,72,28,21,...,31.7,Lower-middle income,0.390081,74.579,3051010.0,Electoral Autocracy,56.499,0.760798,43.501,Europe and Northern America
3,Albania,ALB,2003,290,53,37,806,77,30,21,...,NaN,Lower-middle income,0.971900,74.828,3039616.0,Electoral Autocracy,55.427,0.733194,44.573,Europe and Northern America
4,Albania,ALB,2004,272,57,39,817,77,31,21,...,NaN,Lower-middle income,2.420388,75.039,3026939.0,Electoral Autocracy,54.349,0.770849,45.651,Europe and Northern America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2826,Zimbabwe,ZWE,2014,931,56,140,872,144,85,121,...,NaN,Low income,16.364740,58.410,13586710.0,Electoral Autocracy,67.496,5.531514,32.504,Sub-Saharan Africa
2827,Zimbabwe,ZWE,2015,948,59,145,902,149,87,125,...,NaN,Low income,22.742818,59.534,13814642.0,Electoral Autocracy,67.615,4.561981,32.385,Sub-Saharan Africa
2828,Zimbabwe,ZWE,2016,966,61,150,932,153,89,129,...,NaN,Low income,23.119989,60.294,14030338.0,Electoral Autocracy,67.704,4.473632,32.296,Sub-Saharan Africa
2829,Zimbabwe,ZWE,2017,982,63,154,960,156,91,133,...,44.3,Low income,24.400000,60.812,14236599.0,Electoral Autocracy,67.763,4.844665,32.237,Sub-Saharan Africa
2830,Zimbabwe,ZWE,2018,998,66,159,993,160,92,137,...,NaN,Low income,25.000000,61.195,14438812.0,Electoral Autocracy,67.791,4.363782,32.209,Sub-Saharan Africa

In [12]:
# Create list of column names
cancer_merge_df.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Liver cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Kidney cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Lip and oral cavity cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Larynx cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Gallbladder and biliary tract cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Malignant skin melanoma - Sex: Both - Age: All Ages (Number)',
       'Deaths - Leukemia - Sex: Both - Age: All Ages (Number)',
       'Deaths - Hodgkin lymphoma - Sex: Both - Age: All Ages (Number)',
       'Deaths - Multiple myeloma - Sex: Both - Age: All Ages (Number)',
       'Deaths - Other neoplasms - Sex: Both - Age: All Ages (Number)',
       'Deaths - Breast cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Prostate cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Thyroid cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Stomach cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Bladder cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Uterine cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Ovarian cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cervical cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Brain and central nervous system cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Non-Hodgkin lymphoma - Sex: Both - Age: All Ages (Number)',
       'Deaths - Pancreatic cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Esophageal cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Testicular cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Nasopharynx cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Other pharynx cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Colon and rectum cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Non-melanoma skin cancer - Sex: Both - Age: All Ages (Number)',
       'Deaths - Mesothelioma - Sex: Both - Age: All Ages (Number)',
       'Country Name', 'Country Code',
       'Access to electricity (% of population) - EG.ELC.ACCS.ZS',
       'Adjusted net national income per capita (annual % growth) - NY.ADJ.NNTY.PC.KD.ZG',
       'Adjusted net savings, excluding particulate emission damage (% of GNI) - NY.ADJ.SVNX.GN.ZS',
       'Adjusted savings: carbon dioxide damage (% of GNI) - NY.ADJ.DCO2.GN.ZS',
       'Adjusted savings: natural resources depletion (% of GNI) - NY.ADJ.DRES.GN.ZS',
       'Adjusted savings: net forest depletion (% of GNI) - NY.ADJ.DFOR.GN.ZS',
       'Adjusted savings: particulate emission damage (% of GNI) - NY.ADJ.DPEM.GN.ZS',
       'Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5',
       'Broad money (% of GDP) - FM.LBL.BMNY.GD.ZS',
       'Children out of school (% of primary school age) - SE.PRM.UNER.ZS',
       'Compulsory education, duration (years) - SE.COM.DURS',
       'Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS',
       'Cost of business start-up procedures, male (% of GNI per capita) - IC.REG.COST.PC.MA.ZS',
       'Exports of goods and services (% of GDP) - NE.EXP.GNFS.ZS',
       'Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS',
       'GDP (current US$) - NY.GDP.MKTP.CD',
       'GDP per capita (current US$) - NY.GDP.PCAP.CD',
       'General government final consumption expenditure (% of GDP) - NE.CON.GOVT.ZS',
       'Gross national expenditure (% of GDP) - NE.DAB.TOTL.ZS',
       'Gross savings (% of GDP) - NY.GNS.ICTR.ZS',
       'Imports of goods and services (% of GDP) - NE.IMP.GNFS.ZS',
       'Inflation, consumer prices (annual %) - FP.CPI.TOTL.ZG',
       'Primary completion rate, total (% of relevant age group) - SE.PRM.CMPT.ZS',
       'Proportion of seats held by women in national parliaments (%) - SG.GEN.PARL.ZS',
       'Pupil-teacher ratio, primary - SE.PRM.ENRL.TC.ZS',
       'Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS',
       'Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS',
       'School enrollment, preprimary (% gross) - SE.PRE.ENRR',
       'School enrollment, primary (% gross) - SE.PRM.ENRR',
       'School enrollment, secondary (% gross) - SE.SEC.ENRR',
       'Trade (% of GDP) - NE.TRD.GNFS.ZS',
       'Women Business and the Law Index Score (scale 1-100) - SG.LAW.INDX',
       'Prevalence of undernourishment (%) - SN_ITK_DEFC - 2.1.1',
       'Proportion of population below international poverty line (%) - SI_POV_DAY1 - 1.1.1',
       'Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1',
       'Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1',
       'Proportion of population using basic drinking water services (%) - SP_ACS_BSRVH2O - 1.4.1',
       'Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2',
       'Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2',
       'Annual production-based emissions of carbon dioxide (CO2), measured in million tonnes',
       'Continent', 'Gini index (World Bank estimate) - SI.POV.GINI',
       'Income Classification (World Bank Definition)',
       'Individuals using the Internet (% of population) - IT.NET.USER.ZS',
       'Life expectancy at birth, total (years) - SP.DYN.LE00.IN',
       'Population, total - SP.POP.TOTL',
       'Regime Type (RoW Measure Definition)',
       'Rural population (% of total population) - SP.RUR.TOTL.ZS',
       'Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS',
       'Urban population (% of total population) - SP.URB.TOTL.IN.ZS',
       'World Regions (UN SDG Definition)'],
      dtype='object')

In [13]:
# Drop some 
cancer_merge_df = cancer_merge_df.drop(columns=['Code','Country Name', 'Country Code','Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5'], axis=1)

cancer_merge_df

,Entity,Year,Deaths - Liver cancer - Sex: Both - Age: All Ages (Number),Deaths - Kidney cancer - Sex: Both - Age: All Ages (Number),Deaths - Lip and oral cavity cancer - Sex: Both - Age: All Ages (Number),"Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)",Deaths - Larynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Gallbladder and biliary tract cancer - Sex: Both - Age: All Ages (Number),Deaths - Malignant skin melanoma - Sex: Both - Age: All Ages (Number),Deaths - Leukemia - Sex: Both - Age: All Ages (Number),...,Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS,"Life expectancy at birth, total (years) - SP.DYN.LE00.IN","Population, total - SP.POP.TOTL",Regime Type (RoW Measure Definition),Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
0,Albania,2000,316,40,31,748,70,26,23,125,...,NaN,Lower-middle income,NaN,NaN,NaN,Electoral Autocracy,58.259,NaN,NaN,Europe and Northern America
1,Albania,2001,301,42,31,734,68,26,21,121,...,NaN,Lower-middle income,0.325798,74.288,3060173.0,Electoral Autocracy,57.565,0.755950,42.435,Europe and Northern America
2,Albania,2002,295,47,34,765,72,28,21,124,...,31.7,Lower-middle income,0.390081,74.579,3051010.0,Electoral Autocracy,56.499,0.760798,43.501,Europe and Northern America
3,Albania,2003,290,53,37,806,77,30,21,129,...,NaN,Lower-middle income,0.971900,74.828,3039616.0,Electoral Autocracy,55.427,0.733194,44.573,Europe and Northern America
4,Albania,2004,272,57,39,817,77,31,21,132,...,NaN,Lower-middle income,2.420388,75.039,3026939.0,Electoral Autocracy,54.349,0.770849,45.651,Europe and Northern America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2826,Zimbabwe,2014,931,56,140,872,144,85,121,235,...,NaN,Low income,16.364740,58.410,13586710.0,Electoral Autocracy,67.496,5.531514,32.504,Sub-Saharan Africa
2827,Zimbabwe,2015,948,59,145,902,149,87,125,243,...,NaN,Low income,22.742818,59.534,13814642.0,Electoral Autocracy,67.615,4.561981,32.385,Sub-Saharan Africa
2828,Zimbabwe,2016,966,61,150,932,153,89,129,251,...,NaN,Low income,23.119989,60.294,14030338.0,Electoral Autocracy,67.704,4.473632,32.296,Sub-Saharan Africa
2829,Zimbabwe,2017,982,63,154,960,156,91,133,257,...,44.3,Low income,24.400000,60.812,14236599.0,Electoral Autocracy,67.763,4.844665,32.237,Sub-Saharan Africa
2830,Zimbabwe,2018,998,66,159,993,160,92,137,262,...,NaN,Low income,25.000000,61.195,14438812.0,Electoral Autocracy,67.791,4.363782,32.209,Sub-Saharan Africa